<div class="edit">

  <%= form_for(category) do |f| %>
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
  
        <ul>
        <% category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :cat_id, 'ID*' %>
      <%= f.text_field :cat_id %>
    </div>
  
    <div class="field">
      <%= f.label :cat_name, 'Name*' %>
      <%= f.text_field :cat_name %>
    </div>
  
    <div class="field">
      <%= f.label :cat_description, 'Description*' %>
      <%= f.text_area :cat_description, :id => "textbox" %>
    </div>
    
    <div class="field">
      <%= f.label :cat_image, 'Image URL*' %>
      <%= f.text_area :cat_image %>
    </div>
  
    <div class="actions">
      <%= f.submit %>
    </div>
    
    <p style="color:red;">* Required fields</p>
  <% end %>
  
</div>
