<div id="catContainer">

  <h1>Categories</h1>
  
  <div class="catCardContainer">
  
    <% @categories.each do |category| %>
      <div class="catIndCard">
        <h2><%= category.cat_name %></h2>
        <%= link_to (image_tag category.cat_image, :class => "catholsIm"), category %>
        <p><a href="/category/<%= category.cat_name %>" class="button"><%= "View items" %></a></p>
        <p><%= category.cat_description %></p>
        <div class="button">
          <%= link_to 'Show', category %>
          <% if logged_in? %>
          <%= link_to 'Edit', edit_category_path(category) %>
          <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  
</div>